
body {
    height: 100%;
    text-align: center;
    margin: auto;
    padding: auto;
  }

  .board {
    max-width: 100vmin;
  }

  .start {
    background: magenta;
  }

  .cell {
    font-size: larger;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    user-select: none;
  }
  
  .notrevealed {
    background: gray;
    cursor: pointer;
  }
  
  .notrevealed:hover {
    background: blue;
    background: var(--clr)
  }
  
  .revealed {
    --clr: darkgreen;
    background: darkorchid;
    overflow: hidden;
  }
  
  .revealed:hover {
    background: turquoise;
  }
  
  .flagged {
    --clr: coral;
    cursor: not-allowed;
  }

  